@mixin foxfire-templates-listings-new {
  @media (min-width: $screen-md) {
    .display-frame {
      @extend .row;
    }
    .main-canvas,
    .side-canvas {
      display: inline;
    }
    .affix {
      position: fixed;
      width: 555px;
      top: 0px;
    }
    .sorta-fixed {
      &.affix {
        top: 0px;
      }
    }
  }

  @media (max-width: $screen-md) {
    .site-wrapper {
      overflow-x: hidden;
      width: 100%;
      height: 1120px;
      position: relative;
    }
    .display-frame {
      position: relative;
      height: 100%;
      width: 100%;
      @include translateX(0);
      @include transition-property(all);
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-in);
    }
    .display-frame-side {
      @include translateX(-100%);
    }
    .main-canvas {
      left: 0;
    }
    .side-canvas {
      left: 100%;
    }
    .main-canvas,
    .side-canvas {
      width: 100%;
      position: absolute;
      padding-bottom: 45px;
      margin-left: -15px;
      margin-right: -15px;
    }
    .affix {
      position: relative;
    }
  }

  .subject,
  .label {
    font-size: 16px;
  }

  .email-body {
    font-size: 16px;
    width: 100%;
    min-height: 225px;
    border: 0px;
    background: none;
  }
  .attachments-row {
    .list-group-item {
      padding-top: 10px;
      padding-bottom: 5px;
    }
    .completion-bar {
      @include transition-property(width, background);
      @include transition-duration(10s);
      &.starting {
        width: 5%;
        background-color: #ed9c28;
      }
      &.halfway {
        width: 100%;
        background-color: rgba(#47a447, 0.3);
      }
      &.completed {
        width: 100%;
        background-color: #fff;
      }
    }
  }
  .upload-control {
    @include transition-property(height, border);
    @include transition-duration(0.5s);
    height: 55px;
  }
  .input-with-error {
    border: 2px dashed darken(red, 15%);
  }
}