@mixin foxfire-templates-listings-summary {
  .background-image-tag {
    @media (max-width: $screen-xs) {
      img {
        height: 130px;
      }
    }
    @media (min-width: $screen-xs) and (max-width: $screen-sm) {
      img {
        height: 250px;
      }
    }

    @media (min-width: $screen-sm) {
      img {
        height: 255px;
      }
    }
    color: #335;
  }
  .material {
    font-size: 14px;
  }
  .quantity { 
    font-size: 12px;
  }
  
  .material,
  .quantity {
    @include ellipsis;
  }
}