@mixin foxfire-templates-listings-summary {
  .square {
    @extend .col-lg-4;
    @extend .col-md-4;
    @extend .col-sm-6;
    @extend .col-xs-6;
  }
  a.summary {

  }
  .background-image-tag {
    @media (min-width: $screen-md) {
      img {
        height: 250px;
      }
    }

    @media (max-width: $screen-md) {
      img {
        height: 335px;
      }
    }
    color: #335;
    .material, .quantity {
      @include text-shadow(rgba(#fee, 0.5) 2px 2px 1px);
    }
    .material {
      font-size: 2em;
    }
    .quantity { 
      font-size: 1.25em;
    }
  }
}