@mixin foxfire-templates-listing-offers {
  .counterparty {
    font-size: 1.35em;
    font-weight: bold;
  }
  .gist {
    font-size: 0.85em;
    color: #444;
  }
  .subject {
    font-size: 0.85em;
    color: #444; 
    font-weight: bold;
  }
  .summary {
    font-size: 0.75em;
    color: #444;
  }
}