@import 'templates/listing/offers';
@mixin foxfire-templates-listing-show {
  .offer-data {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .pictures {
    margin-top: 5px;
    img {
      width: 100%;
    }
  }
  .offers {
    @include foxfire-templates-listing-offers;
  }
}