@mixin foxfire-templates-tag-show {
  .seperated-left-bordered {
    border-left: 1px solid #eee;
    padding-left: 15px;
  }
  .unmargin-but-padded {
    &:hover {
      font-size: 16px;
    }
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    margin-right: -15px;
    margin-top: -15px;
    margin-bottom: -15px;
  }
  .children {
    .list-group-item {
      padding-left: 25px;
    }
  }
}