@mixin foxfire-templates-footer {
  .fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 100%;
    z-index: 5;
    background: #fff;
    border: 1px solid #eee;
    overflow: hidden;
    
    .col-xs-4 {
      padding-left: 1px;
      padding-right: 1px;
      text-align: center;
    }
    .col-xs-6 {
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
    }
    i {
      @extend .fa-2x;
    }
    ul.nav-tabs {
      a.active {
        color: #fff;
        background-color: $brand-primary;
      }
    }
  }
}