@mixin foxfire-templates-index {
  .vanilla-background {
    @include background(url(/images/just-flags.png));
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -15px;
    @include box-shadow(rgba(blue, 0.2) 0 10px 15px, rgba(green, 0.2) 0 0 3px 1px inset);
  }
  .jumbotron {
    @include opacity(0.85);
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .call-to-action {
    margin-top: -35px;
  }
  .shadow-box {
    display: inline-block;
    padding: 15px;
    background: #eee;
    @include border-radius(25px);
    @include box-shadow(rgba(blue, 0.2) 0 0px 15px, rgba(green, 0.2) 0 0 3px 1px inset);
  }
  .bumped-down {
    margin-top: 35px;
  }
  .shamefully-hacked-footer {
    border-top: 1px solid #ddd;
    padding-top: 110px;
    color: $gray-light;
  }
  .market-summary-graph {
    background: #fff;
  }
  .darker-background {
    margin-top: 45px;
    padding-top: 45px;
    padding-bottom: 45px;
    background: #bbb;
  }
  .padding-25px {
    padding-left: 35px;
    padding-right: 35px;
  }
  .hover-glow:hover {
    background: $gray-light;
    color: #fff;
  }
  .hover-glow {
    padding-left: 15px;
  }
}