@import 'welcome/index';
@import 'companies/negotiations/index';
@import 'email_accounts/show';
@import 'conversations/tags/index';
@import 'email_inboxes/emails/index';
@import 'negotiations/show';
@mixin shared-main {
  @extend .container;
  .list-group-item {
    &.inactive {
      background-color: #eee;
    }
  }
  .bold {
    font-weight: bold;
  }
  .colon:after {
    content: ":";
  }
  .comma:not(:last-child) {
    &:after {
      content: ",";
    }
  }
  .overflow-225 {
    width: 225px;
    text-overflow: ellipsis;
    display: inline-block;
  }
  .tab {
    margin-right: 15px; 
  }
  .dash:after {
    content: " - ";
  }
  .pound:after {
    content: '#';
  }
  .ellipsis {
    text-overflow: ellipsis;
  }
  .parantheses:after {
    content: ")";
  }
  .parantheses:before {
    content: "(";
  }
  .italic {
    font-style: italic;
  }
  .capitalize {
    text-transform: capitalize;
  }
  .upcase {
    text-transform: uppercase;
  }
  .select-control {
    select {
      @extend .form-control;
    }
  }
  .one-sixth {
    @extend .col-lg-2;
    @extend .col-md-3;
    @extend .col-sm-4;
    @extend .col-xs-6;
  }
  .four-quarters {
    @extend .col-lg-12;
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-xs-12;
  }

  .three-quarters {
    @extend .col-lg-9;
    @extend .col-md-9;
    @extend .col-sm-12;
    @extend .col-xs-12;
  }

  .two-quarters {
    @extend .col-lg-6;
    @extend .col-md-6;
    @extend .col-sm-12;
    @extend .col-xs-12; 
  }

  .one-quarter {
    @extend .col-lg-3;
    @extend .col-md-3;
    @extend .col-sm-12;
    @extend .col-xs-12;
  }

  .one-third {
    @extend .col-lg-4;
    @extend .col-md-4;
    @extend .col-sm-12;
    @extend .col-xs-12;
  }

  .two-thirds {
    @extend .col-lg-6;
    @extend .col-md-6;
    @extend .col-sm-12;
    @extend .col-xs-12;  
  }

  .page-title {
    @extend .col-lg-12;
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-xs-12;
  }

  .actions {
    .action-icon {
      @extend .col-lg-2;
      @extend .col-md-3;
      @extend .col-sm-4;
      @extend .col-xs-6;
      a {
        @extend .thumbnail;
      }

      text-align: center;
    }
    i {
      @extend .fa-2x;
    }
  }

  #welcome-index {
    @include welcome-index;
  }

  #cookie-crumbs {
    @extend .col-lg-12;
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-xs-12;
    ol {
      @extend .breadcrumb;
    }
  }

  #companies-negotiations-index {
    @include companies-negotiations-index;
  }

  #email_accounts-show {
    @include email_accounts-show;
  }

  #conversations-tags-index {
    @include conversations-tags-index;
  }

  #email_inboxes-emails-index {
    @include email_inboxes-emails-index;
  }

  #negotiations-show {
    @include negotiations-show;
  }
}