.four-quarters
  .panel.panel-default
    .panel-heading
      = link_to negotiation_path(1) do
        ID#12345 - Buying Dog Food FAS Long Beach from Riverstar
    .panel-body
      
    %ul.list-group
      %li.list-group-item
        %span.data.bold.colon Material
        Dog Food
        %span.data.bold.colon Buy Price
        $0.055 / lb
        %span.data.bold.colon Sell Price
        $0.075 / lb
        %span.data.bold.colon Quantity
        10 loads
      %li.list-group-item
        %span.data.bold.colon Material
        Cat Food
        %span.data.bold.colon Buy Price
        $0.055 / lb
        %span.data.bold.colon Sell Price
        $0.075 / lb
        %span.data.bold.colon Quantity
        10 loads