@mixin fox_yam-merchants-listings-new-emberapp-index {
  @media (min-width: $screen-md) {
    .affix {
      position: fixed;
      top: 0px;
    }
  }

  @media (max-width: $screen-md) {
    .affix {
      position: relative;
    }
  }

  .sorta-fixed {
    dl {
      font-size: 16px;
    }
    &.affix {
      top: 0px;
    }
  }
  .email-body {
    width: 100%;
    min-width: 575px;
    min-height: 225px;
    border: 0px;
    background: none;
  }
  .attachments-row {
    .list-group-item {
      padding-top: 10px;
      padding-bottom: 5px;
    }
    .completion-bar {
      @include transition-property(width, background);
      @include transition-duration(10s);
      &.starting {
        width: 5%;
        background-color: #ed9c28;
      }
      &.halfway {
        width: 90%;
        background-color: #47a447;
      }
      &.completed {
        width: 100%;
        background-color: #fff;
      }
    }
  }
  .small-thumbnail {
    max-width: 50px;
    max-height: 50px;
    overflow: hidden;
    display: inline-block;
  }
  .upload-control {
    @include transition-property(height, border);
    @include transition-duration(0.5s);
    height: 55px;
  }
  .input-with-error {
    border: 2px dashed darken(red, 15%);
  }
}